---
layout: default
---

<h1>O que você irá encontrar nesse site…</h1>

<p>Encontrará neste site um <a href="https://www.linkedin.com/in/felipevillani/" target="_blank" rel="noopener" title="Portfólio">portfólio on-line</a> e <a href="/blog/" title="Blog">materiais de estudos</a> disponíveis para consulta, desenvolvidos ao longo dos meus anos acadêmicos e profissionais.</p>

<p>Uma fonte alternativa de informações para estudantes, profissionais de T.I. e a quem mais esse assunto possa interessar.</p>


<h2>Sobre o autor</h2>

<p>Após um período de seis anos atuando como coordenador de equipe de processamento de documentos em empresa de grande porte do seguimento financeiro, resolvi fazer um ambicioso investimento em educação na área em que muito aprecio, concluído o ensino de nível técnico em Informática pela Escola Técnica de Praia Grande e graduado em Análise e Desenvolvimento de Sistemas pela Fatec de Praia Grande, hoje atuo como desenvolvedor e analista de software e Web sites.</p>

<p>Clique aqui para acessar meu <a href="curriculo" title="Currículo">currículo</a> completo.</p>

